nav {
  margin-bottom: 20px;
  padding: 10px;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  list-style: none;
}

nav ul li {
  background-color: blue;
  color: white;
  padding: 5px;
  border-radius: 10px;
  margin-right: 0.2rem;
}

nav ul li:last-of-type {
  margin-left: auto;
}

nav ul li:hover {
  cursor: pointer;
}
