table {
  gap: 1rem;
}

td {
  padding: 1rem 0;
}

table .table-buttons {
  display: flex;
  flex-direction: column;
  place-items: center;
}

.button-container {
  display: flex;
  flex-direction: column;
  place-items: center;
  width: 100%;
}

.button-container * {
  width: 70%;
  margin-bottom: 0.5rem;
}
